:root {
    --bg-color: #f8cae7;
    --main-text-color: #000;
    --second-main-text-color: #ffffff;
    --main-brand-color: #e597f0;
    --main-brand-color-ligh:#fabffa;
    --input-bg-color: #d2cdcf;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-bg {
    background-color: var(--bg-color);
}

