/*.btn {
    color: var(--main-text-color);
    background-color: transparent;
    text-decoration: none;
    padding: 0,5rem;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}*/

.menu-icon {
    font-size: 2rem;
    color: var(--main-brand-color);
    cursor: pointer;
    display: block;
    position:absolute;
    right: 20px;
    top: 10px;
}

#menu-toggle {
    display: none;
}

.nav {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background: var(--main-brand-color-light);
    width: 100%;
    text-align: center;
}

.nav {
    a {
        display: block;
        color: var(--main-text-color);
        padding: 15px;
        text-decoration: none;
        padding: 10px 20px;
    }
}

#menu-toggle:checked + .menu-icon + .nav {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 0;
}

.container-big-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.big-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-brand-color);
    color: var(--second-main-text-color);
    font-size: 1rem;
    text-decoration: none;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 120px;
    text-align: center;
    text-wrap: wrap;
}

@media screen and (width > 768px) {
    .menu-icon {
        display: none;
    }

    .nav{
        display: flex;
        flex-direction: row;
        position: relative;
        max-width: 40%;
        top: 0;
    }
}
    