.container {
    background-color: var(--bg-color);
}

.card {
    max-width: 420px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

input, textarea, select {
    border: none;
    padding: 0,7rem;
    border-radius: 5px;;
}