.main {
    width: 90%;
    margin: 0 auto;
    max-width: 768px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        display: flex;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        margin-top: 2rem;
    }
    .resume {
        position: relative;
        text-align: center;
        .text {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }
}

.skills {
    display: inline-block;
    margin: 20px, 0;
    p {
        font-weight: bold;
    }
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 25px;
    overflow: hidden;
}

.progress-bar:before {
    content: '';
    display: block;
    height: 100%;
    width: 0;
    background-color: var(--main-brand-color);
    transition: width 1s ease forwards;
    border-radius: 10px;
}

.design::before {
    width: 80%;
}

.creating::before {
    width: 100%;
}

.editing::before {
    width: 90%;
}


/*
@media screen and (width > 768px) {
    .info {
        display: flex;
        align-items: center;
    }
}
*/